@font-face{
	font-family: 'dosis.medium';
	src: url(../../fonts/dosis.medium.ttf);
}

@font-face{
	font-family: 'dosis.book';
	src: url(../../fonts/dosis.book.ttf);
}


body{
 background-image: url(../../images/purple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cone {
  position: fixed!important;
  z-index: 2;
  width: 30%;
  height: 5px;
  margin: -5px auto 0;
  background-color: rgba(240, 180, 30, .35);
  border-radius: 100%;
  filter: blur(2.5px);
  transform: perspective(100px) rotateX(-30deg);
  transform-style: preserve-3d;
  animation: holographic 1.5s infinite alternate;
  backface-visibility: hidden;
  bottom: 18%;
  left: 27%;

}

.cone::after{
  position: absolute;
    left: -10px;
    right: -10px;
    content: "";
    height: 10px;
    background-color: rgba(240, 180, 30, .5);
    border-radius: 100%;
    filter: blur(2.5px);
}



@keyframes float {
  from {
    will-change: unset;
    transform: translateY(-10px);
 }
  to {
    will-change: transform;
    transform: translateY(-30px);
 }
}
@keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow: 0 -75px 5px rgba(240, 180, 30, .15), 0 -1px 2px rgba(240, 180, 30, .5), 0 -45px 5px rgba(240, 180, 30, .15), 0 -2px 3px rgba(240, 180, 30, .5), 0 -3px 4px rgba(240, 180, 30, .5), 0 -4px 6px rgba(240, 180, 30, .5), 0 -5px 10px rgba(240, 180, 30, .75), 0 -7px 20px rgba(240, 180, 30, .75), 0 -10px 30px rgba(240, 180, 30, .75), 0 -15px 40px rgba(240, 180, 30, .75), 0 -25px 50px rgba(240, 180, 30, .75), 0 -35px 60px rgba(240, 180, 30, .85), 0 -45px 70px rgba(240, 180, 30, .95), 0 -65px 80px rgba(240, 180, 30, 1), 0 -75px 90px rgba(240, 180, 30, 1);
 }
  to {
    will-change: unset;
    box-shadow: 0 -1px 5px rgba(240, 180, 30, .15), 0 -1px 2px rgba(240, 180, 30, .5), 0 -1px 5px rgba(240, 180, 30, .15), 0 -2px 3px rgba(240, 180, 30, .5), 0 -3px 4px rgba(240, 180, 30, .5), 0 -4px 6px rgba(240, 180, 30, .5), 0 -5px 7px rgba(240, 180, 30, .75), 0 -7px 10px rgba(240, 180, 30, .75), 0 -10px 15px rgba(240, 180, 30, .75), 0 -15px 20px rgba(240, 180, 30, .75), 0 -25px 25px rgba(240, 180, 30, .75), 0 -35px 30px rgba(240, 180, 30, .85), 0 -45px 35px rgba(240, 180, 30, .95), 0 -65px 40px rgba(240, 180, 30, 1), 0 -75px 50px rgba(240, 180, 30, 1);
 }
}


div#box a {
  color: white;
  text-decoration: none;
  word-break: break-all;
}

.bottone_2, .bottone_3{
  visibility: hidden;
} 

.bottone_1{
  color: transparent;
  cursor: pointer;
  outline: none;
  border: 5px solid;
  border-radius: 50%;
  box-shadow: 0 0 50px black;
  background-image: url(../../images/come_back.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 40%;
  left: 2%;
  width: 100px;
  height: 100px;
}

.bottone_1:hover {
  box-shadow: 0 0 50px white;
  opacity: 0.5;
  
}

div#box a{
  word-break: break-all;
  color:white;
}




#box{
  color: white;
  width: 50vw;
  height: 40vh;
  margin: auto;
  margin-top: 30px;
  padding:30px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  font-family: 'dosis.book'; 
  box-shadow: 0 0 100px #ffd868;
  background: linear-gradient(to bottom, #68089486, #fed8008c);
  
}


h1 {
  color: white;
  font-family: 'dosis.medium';
  font-size: 40px;
  text-align: center;
  animation: 5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

h2{
text-transform: uppercase;  
  animation: 5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  text-shadow: 2px 4px 20px #924DF9;
  }
  
 
  
  p{
    font-size: 120%;
    width: 60%;
    text-align: justify;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
  }



table {
    border-collapse: collapse;
    font-size: 12px;
    color: white;
    margin: auto;
  }
  
  table, th, td {
    border: 1px solid white;
  
  }
  
  div#box img{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: contain; 
    border-radius: 60px;
}

div#box img:hover{

-ms-transform: scale(1.5); 
-webkit-transform: scale(1.2); 
transform: scale(1.2);
margin-bottom: 30px;
margin-top: 30px;

}

figcaption{
    
  font-size: 13px;
  font-style: italic;
}



figure{
    width: 50%;
    margin: auto ;
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}




.glitch {
  color: white;
  position: relative;
  width: 42%;
  margin: auto;
}


@keyframes noise-anim {
  0% {
    clip-path: inset(9% 0 72% 0);
 }
  5% {
    clip-path: inset(82% 0 14% 0);
 }
  10% {
    clip-path: inset(10% 0 50% 0);
 }
  15% {
    clip-path: inset(49% 0 29% 0);
 }
  20% {
    clip-path: inset(33% 0 25% 0);
 }
  25% {
    clip-path: inset(28% 0 1% 0);
 }
  30% {
    clip-path: inset(2% 0 43% 0);
 }
  35% {
    clip-path: inset(2% 0 6% 0);
 }
  40% {
    clip-path: inset(12% 0 55% 0);
 }
  45% {
    clip-path: inset(88% 0 3% 0);
 }
  50% {
    clip-path: inset(100% 0 1% 0);
 }
  55% {
    clip-path: inset(85% 0 1% 0);
 }
  60% {
    clip-path: inset(27% 0 14% 0);
 }
  65% {
    clip-path: inset(89% 0 10% 0);
 }
  70% {
    clip-path: inset(92% 0 4% 0);
 }
  75% {
    clip-path: inset(89% 0 11% 0);
 }
  80% {
    clip-path: inset(91% 0 6% 0);
 }
  85% {
    clip-path: inset(9% 0 25% 0);
 }
  90% {
    clip-path: inset(82% 0 2% 0);
 }
  95% {
    clip-path: inset(99% 0 2% 0);
 }
  100% {
    clip-path: inset(55% 0 38% 0);
 }
}
.glitch::after{
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #924DF9;
  top: 0;
  color: white;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(5% 0 5% 0);
 }
  5% {
    clip-path: inset(31% 0 61% 0);
 }
  10% {
    clip-path: inset(66% 0 16% 0);
 }
  15% {
    clip-path: inset(48% 0 44% 0);
 }
  20% {
    clip-path: inset(10% 0 34% 0);
 }
  25% {
    clip-path: inset(45% 0 42% 0);
 }
  30% {
    clip-path: inset(10% 0 72% 0);
 }
  35% {
    clip-path: inset(34% 0 61% 0);
 }
  40% {
    clip-path: inset(21% 0 64% 0);
 }
  45% {
    clip-path: inset(72% 0 27% 0);
 }
  50% {
    clip-path: inset(80% 0 8% 0);
 }
  55% {
    clip-path: inset(86% 0 4% 0);
 }
  60% {
    clip-path: inset(97% 0 4% 0);
 }
  65% {
    clip-path: inset(80% 0 3% 0);
 }
  70% {
    clip-path: inset(66% 0 9% 0);
 }
  75% {
    clip-path: inset(55% 0 26% 0);
 }
  80% {
    clip-path: inset(63% 0 10% 0);
 }
  85% {
    clip-path: inset(60% 0 38% 0);
 }
  90% {
    clip-path: inset(17% 0 55% 0);
 }
  95% {
    clip-path: inset(6% 0 23% 0);
 }
  100% {
    clip-path: inset(29% 0 20% 0);
 }
}

.glitch::before{
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 rgb(139, 253, 190);
  top: 0;
  color: white;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

blockquote{
  text-align: justify;
  font-family: 'dosis.book';
  animation: text-shadow 10s ease-in-out infinite;
  font-size: 1em;
  font-weight: bolder;
  line-height: 1;

}

blockquote:hover {
  animation-play-state: paused;
}


@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #924DF9, 
          0 0 0 #ffffff, 
          0 0 0 #ffffff, 
          0 0 0 #ffffff;
  }

 

  40% {  
      transform: translateY(0.1em);
      text-shadow: 
          0 -0.0625em 0 #924DF9, 
          0 -0.125em 0 #ffffff, 
          0 0.0625em 0 #ffffff, 
          0 0.125em 0 #ffffff;
  }
  


  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #924DF9, 
          0 0 0 #ffffff, 
          0 0 0 #ffffff, 
          0 0 0 #ffffff;
  }
}

@media screen and (max-width: 320px) {
  #box {
    margin-right: 0;
    width: 60%;
    margin-top: 16%;
}

h1{
  font-size: 120%;
  width: 100%!important;
}

p{
  font-size:120% ;
  width: 100%;
}

div#box img{
  width: 100%!important;

}

blockquote{
  font-size: 120%;
}
  
  .bottone_1 {
    width: 50px;
    height: 50px;
    color: transparent;
    
  }

  .cone{
    display: none;
  }

  table {
    width: 50%!important;
      
  }

}

@media screen and (max-width: 600px) {
  #box {
    margin-right: 0;
    width: 60%;
    margin-top: 16%;
}

h1{
  font-size: 140%;
  width: 100%!important;
}

p{
  font-size:120% ;
  width: 100%;
}

div#box img{
  width: 100%!important;

}

blockquote{
  font-size: 110%;
}
  
.bottone_1, .bottone_2, .bottone_3{
    width: 60px;
    height: 60px;
    color: transparent;
    
  }

.cone{
  width: 130px;
  left: 41%;
}

.metadata_button{
  background-color: rgba(255, 255, 255, 0.486);
  left:11;
  top:200;
  
}

table {
  width: 50%!important;
    
}

}

@media screen and (min-width: 768px) and (max-width: 768px){
  #box{
    margin-left: 26%;
    margin-top: 20%;
}

.cone{
  left:31%;
  width: 250px;
}


h1{
  font-size: 200%;
  width: 100%!important;
}

p{
  font-size:150% ;
  width: 100%;
}

}

@media screen and (min-width: 1024px) and (max-width: 1024px) {

  #box{
    margin-left: 26%;
    margin-top: 28%;
}

.cone{
  right: 37%;
}

}

