@font-face{
	font-family: 'BOYCOTT';
	src: url(../../fonts/BOYCOTT.ttf);
}

@font-face{
	font-family: 'Trixie-Text';
	src: url(../../fonts/Trixie-Text.otf);
}

@font-face{
	font-family: 'DISTROBV';
	src: url(../../fonts/DISTROBV.ttf);
}

@font-face{
	font-family: 'DISTROM';
	src: url(../../fonts/DISTROM.ttf);
}

@font-face{
	font-family: 'Nimbus_Sans_Becker_Regular';
	src: url(../../fonts/Nimbus_Sans_Becker_Regular.otf);
}

@font-face{
	font-family: 'ZapfDingbats';
	src: url(../../fonts/ZapfDingbats.ttf); 
}

@font-face{
	font-family: 'Payday';
	src: url(../../fonts/Payday.ttf); 
}

@font-face{
	font-family: 'typenoksidi_regular';
	src: url(../../fonts/typenoksidi_regular.ttf); 
}

@font-face{
	font-family: 'Fliped';
	src: url(../../fonts/Fliped.otf); 
}

@font-face{
	font-family: 'eunuverse-roman';
	src: url(../../fonts/eunuverse-roman.ttf); 
}

@font-face{
	font-family: 'DINfunProCounterless';
	src: url(../../fonts/DINfunProCounterless.ttf)
}


#box{
	width: 78%;
	font-size: 15px;
	background-image: url(../../images/background_ok.jpg);
	background-size: contain;
	background-repeat: repeat;
	padding: 30px;
	padding-bottom: 40px;
	margin-bottom: 15vh;
	margin-top: 5vh;
	box-shadow: 0 16px 21px 0 rgba(0,0,0,0.5);
	display: block;
	column-count: 4;
	column-gap: 5px;
	column-fill: balance!important;
	
}

#box:hover {
	box-shadow: 0 16px 21px 0 rgba(0,0,0,0.8);
}

h1{
	font-family: 'BOYCOTT';
	color: black;
	column-span: all;
	text-transform: uppercase;
	text-align: left;
	font-size: 50px;
	top:0;
	width: 50%;
	height: 100%;
	line-height: 0.9;
	letter-spacing: 0.2;
	background-image: url(../../images/barcode.png);
	background-size: contain;
	background-size: 50px 80px;
	background-repeat: no-repeat;
	background-position: 88%;
	
}

h1::first-letter{
	padding-left: 80px;
	background-color: rgb(142,127,146);
	border-radius: 10px;
}

/*p:nth-child(even){
	
	
	/*transform: skew(175deg);
	padding: 5px;
}*/


.barcode{
	position: absolute;
    background-image: url(../../images/barcode_raygun.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 13%;
    top: 20%;
    right: 20%;
}

.barcode_2{
	
	position: absolute;
    background-image: url(../../images/barcode2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vw;
    height: 5vh;
	background-position: bottom;

}



h2{
	font-family: 'DINfunProCounterless';
	color:  rgb(42, 82, 51);
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	
}

h2::first-letter{
	margin-right: 10px;
	
}

div#box a {
	color: black;
	text-decoration: none;
	word-break: break-all;
  }


p{
	font-family: 'eunuverse-roman';
	font-weight: bolder;
	width: 100%;
	text-align: justify;
	
}

.circle{
	width: 40px;
	height: 700px;
	float: left;
	shape-outside: ellipse(35px 170px at 10% 30%);
	
	
	/* width: 200px;
	height: 300px; */
	
  /*   border-radius: 50px / 100px; */
	/* margin: 1em;
	float: left;
	shape-outside: ellipse(120px 150px at 20% 30%); */

	/*width: 40px; old ok
    height: 300px; old ok
    /* border-radius: 50px / 100px; */
    /* margin: 1em; */
    /*float: left;*/
    /*shape-outside: ellipse(35px 100px at 0% 31%); old ok
    /* margin-top: 60px; */ 
  }
  

.person, .place, .entity{
	font-family: 'DISTROM';
	color: black;
	font-size: 20px;
	font-weight: bolder;
	background-image: url(../../images/purple_back.png);
	background-size: cover;
	background-repeat: repeat;
	padding-left:1rem;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 60px;
	
}

figure .person,figure .place,figure .entity{
	font-family: 'Nimbus_Sans_Becker_Regular';
	background-image: none;
	font-size: 15px;
	padding-left: 0;
	
	
}

#box ul, ol {
	font-family: 'Fliped';
	
}

ul p{
	background-image: url(../../images/grunge_line.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	padding-bottom: 15px;
	font-family: 'Fliped';
	font-weight: bolder;
	direction: ltr!important;
	unicode-bidi: normal!important;

	

}

ol p{
	background-image: url(../../images/grunge_line.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	padding-bottom: 15px;
	font-family: 'Fliped';
	font-weight: bolder;
	direction: ltr!important;
	unicode-bidi: normal!important;
	

}


q{
	/*font-family: 'Payday';*/
	font-family: 'typenoksidi_regular';
	color: white;
	background-color: black;
	
	
	/*color: white;
	background-color: black;
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: bolder;
	font-family:'Trixie-Text';*/
}

blockquote{
	font-family: 'DISTROBV' ;
	font-size: 20px;
	color: rgb(142,127,146);
	/*text-shadow:
   -1px -1px 0 rgb(142,127,146),  
    1px -1px 0 rgb(142,127,146),
    -1px 1px 0 rgb(142,127,146),
     1px 1px 0 rgb(142,127,146);*/
	 transform: rotate(-3deg);
	 padding: 5px;
}

/*.right > p, .right > h2, .right > h3{
	direction: rtl;
  	unicode-bidi: bidi-override;

}

.right > p:hover, .right > h2:hover, .right > h3:hover {
	direction: ltr;
	unicode-bidi: normal;
}*/

table {
	border-collapse: collapse;
	font-size: 12px;
	font-family: 'DISTROM';
  }
  
  table, th, td {
	border: 1px solid black;
  
  }
  
  img{
	  
	  width:90%;
	  padding-left: 5%;
	  padding-right: 5%;
		/*height:200px;*/
	  object-fit: contain; /*scale-down*/
	  filter:  sepia(40%);
  }

  #Cover figure{
	 float: left;
  }

  section:nth-child(odd) img{
	  filter: grayscale(100%) saturate(50%);
  }
  
  figure{
	  width: 90%;
	  margin: auto ;/*immagini grandi centrate*/
	  padding-right: 10px;
	  height: 100%;
	  padding: 5%;
}



/*figure:before{
	content: 'YaM FERRY';
    font-family: 'ZapfDingbats';
	float: right;
	position:initial;
	white-space: nowrap;
	position: relative;
    color: grey;
    font-size: 1.4rem;
}

/*img:after {
    content: 'abcedf';
    font-family: 'ZapfDingbats';
    
    position: absolute;
    letter-spacing: 1rem;
    color: green;
    font-size: 1.5rem;
} */
  
  figcaption{
	  
	font-family: 'Nimbus_Sans_Becker_Regular';
	/*display: table-caption;
	caption-side: top;*/
	position: relative;
	margin: auto;
	top: -120px;
	right: 6px;
	font-size: 16px;
	font-weight: bolder;
	letter-spacing: -1;
	line-height: 0.7;
	height: 0px;
}

figcaption q{
	font-family: 'Nimbus_Sans_Becker_Regular';
	color: black;
	text-transform: none;
	background-color: transparent;
}

.first_half {
	direction: rtl;
	unicode-bidi: bidi-override;
	text-align: right;
	
}

.first_half:hover{
	direction: ltr;
	unicode-bidi: normal;
}


#cover p{
	direction: ltr!important;
	unicode-bidi: normal!important;
	text-align: justify;
}

.second_half{
	color:grey;
}
  
  
/*.h1_different{
	background-color: red;
}

.make_skew{
	transform: skew(177deg,177deg);
	font-size: 15px;
	padding:1rem;
}

.make_skew:hover{
	transform: skew(0deg);
}

#References, #Bibliography{
	transform: skew(177deg,177deg);
	font-size: 15px;
	padding:1rem;
	
}

#References:hover, #Bibliography:hover{
	transform: skew(0deg);
}



.right > p, .right > h2, .right > h3{
	direction: rtl;
  	unicode-bidi: bidi-override;

}

.right > p:hover, .right > h2:hover, .right > h3:hover {
	direction: ltr;
	unicode-bidi: normal;
}

.line-height_different{
	line-height: 0.5;
	font-weight: bolder;
}

.line-height_different:hover{
	line-height: normal;
	font-weight: normal;
}

.rotate_p{
	transform: rotate(-90deg);
	font-size: 12px;
	line-height: 0.7;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 70px;
	margin-right: 80px;
	transition: transform ease 0.8s;

}

.rotate_p:hover{
	transform: rotate(0deg);

} */

/*h2{
	background-color: rgba(255, 242, 0, 0.7);
	padding-left:1rem;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 60px;
}


.subtitle{
	font-weight: bolder;
	text-transform: uppercase;
}*/


/*.dingbats_font{
	background-image: url(../../images/zapf_simbol1.PNG);
	font-weight: 600;
	background-repeat: no-repeat;
	background-size: contain;
	
}*/



/*section:nth-child(5){
	background-image: url(../../images/zapf_simbol_2.PNG);
	font-weight: 600;
	background-repeat: no-repeat;
	background-size: contain;

}*/

/*p:nth-last-child(-n+3){
	transform: rotate(-90deg);
	margin: 45px;
	line-height: 0.8;
}*/

/*.first_half{
	color: black;
}

.second_half{
	color: #c44716;/*#660e08*/ /*:#ba3636
}

blockquote{
	font-family: 'ZURCHXC';
	transform: rotate(-90deg);
	font-size: 15px;
	padding: 40px;
	word-spacing: 10px;
	transition: transform ease 0.8s;
	/*font-size: 18px;
	color: green;
	/*transform: rotate(-3deg); non funziona perchè ovviamente fa contrasto con inline
	display: inline;
    padding: 0.2em 0em;
    background-color: black;
    box-shadow: 1em 0 0 black, -1em 0 0 black;
	box-decoration-break: clone; 
	line-height: 2;
}

blockquote:hover{
	transform: rotate(0deg);
}*/

/*li:nth-child(odd){
	margin-left: 30px;
}*/



/*.different_line{
	font-size: 30px;
}*/

/*.backgroundLine{
	display: block; 
	position: absolute;
	margin: auto;
	left: 0px;
	transform: rotate(80deg) skew(20deg);
	trasform: rotate(50deg); 
	width: 20px;
	height: 53vw;
	z-index: -1;
	background-color: orange;
}*/

/*.backgroundLine{
	 display: block; 
	position: relative;
	padding: 10px;
    /* margin: auto; 
    
    width: 51.6vw;
    height: 3vh;
    z-index: -100;
    background-color: orange;*/
    /* text-align: center; */
    /* object-position: center; */
    /* top: 50; 
    bottom: 0px;
	right: 371px;
} */

/*.big::first-letter{
	font-size: 30px;
	color: orange;
	
}*/



/*section > p:nth-child(2)::first-letter {
	font-size: 30px;
	background-color: orange;
}*/ 







@media screen and (max-width: 600px){
	div#box{
	background-image: url(../../images/background_final.jpg);
	background-size: contain;
	background-repeat: repeat;
	column-count: 1;
	margin-bottom:40%;
	padding: 0;
	margin-top: 0;
	
	width: 100vw;
	}

	h1{
		font-size: 40px;
		margin-left:3%;
	}

	h1::first-letter{
		padding-left: 40px;
		background-color: rgb(142,127,146);
		border-radius: 10px;
	}

	p{
		margin: auto;
		width: 70%;
		margin-bottom: 20%;
		font-size: 140%;
		
	}

	table {
		width: 50%!important;
		margin:auto;
		font-size: 10px;
		margin-bottom:10%;
	  }
}
  
  
@media screen and (min-width: 768px) and (max-width: 768px){

	div#box{
		background-image: url(../../images/background_final.jpg);
		background-size: contain;
		background-repeat: repeat;
		column-count: 2;
		margin-bottom:25%;
		width: 75%;
		
		}
	
		h1{
			font-size: 40px;
			margin-left:3%;
		}
	
		h1::first-letter{
			padding-left: 40px;
			background-color: rgb(142,127,146);
			border-radius: 10px;
		}
	
		p{
			margin: auto;
			width: 100%;
			margin-bottom: 20%;
			font-size: 140%;
			
		}
	
		table {
			width: 50%!important;
			margin:auto;
			font-size: 10px;
			margin-bottom:10%;
		  }

		  .barcode{
			  right: 30%;
		  }
}


      




