@font-face{
	font-family: 'BOYCOTT';
	src: url(../../fonts/BOYCOTT.ttf);
}

@font-face{
	font-family: 'Trixie-Text';
	src: url(../../fonts/Trixie-Text.otf);
}

@font-face{
	font-family: 'DISTROBV';
	src: url(../../fonts/DISTROBV.ttf);
}

@font-face{
	font-family: 'DISTROM';
	src: url(../../fonts/DISTROM.ttf);
}

@font-face{
	font-family: 'Nimbus_Sans_Becker_Regular';
	src: url(../../fonts/Nimbus_Sans_Becker_Regular.otf);
}

@font-face{
	font-family: 'typenoksidi_regular';
	src: url(../../fonts/typenoksidi_regular.ttf); 
}

@font-face{
	font-family: 'Fliped';
	src: url(../../fonts/Fliped.otf); 
}

@font-face{
	font-family: 'eunuverse-roman';
	src: url(../../fonts/eunuverse-roman.ttf); 
}

@font-face{
	font-family: 'DINfunProCounterless';
	src: url(../../fonts/DINfunProCounterless.ttf)
}


#box{
	width: calc( 80vw - 60px );
	font-size: 15px;
	background-image: url(../../images/background_ok.jpg);
	background-size: contain;
	background-repeat: repeat;
	padding: 30px;
	padding-bottom: 40px;
	margin-bottom: 15vh;
	margin-top: 5vh;
	box-shadow: 0 16px 21px 0 rgba(0,0,0,0.5);
	column-count: 4;
	column-gap: 5px;
	column-fill: balance;
	
}

#box:hover {
	box-shadow: 0 16px 21px 0 rgba(0,0,0,0.8);
}

h1{
	font-family: 'BOYCOTT';
	color: black;
	column-span: all;
	text-transform: uppercase;
	text-align: left;
	font-size: 50px;
	width: 50%;
	line-height: 0.9;
	letter-spacing: 0.2;
	background-image: url(../../images/barcode.png);
	background-size: 50px 80px;
	background-repeat: no-repeat;
	background-position: 88%;
	
}

h1::first-letter{
	padding-left: 80px;
	background-color: rgb(142,127,146);
	border-radius: 10px;
}




.barcode{
	position: absolute;
    background-image: url(../../images/barcode_raygun.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 13%;
    top: 20%;
    right: 20%;
}

#References{
	transform: skew(178deg, 178deg);
}


h2{
	font-family: 'DINfunProCounterless';
	color:  rgb(42, 82, 51);
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	
}

h2::first-letter{
	margin-right: 10px;
	
}

div#box a {
	color: black;
	text-decoration: none;
	word-break: break-all;
  }


p{
	font-family: 'eunuverse-roman';
	font-weight: bolder;
	width: 100%;
	text-align: justify;
	
}

.circle{
	width: 40px;
	height: 700px;
	float: left;
	shape-outside: ellipse(35px 170px at 10% 30%);
}

.person, .place, .entity{
	font-family: 'DISTROM';
	color: black;
	font-size: 20px;
	font-weight: bolder;
	background-image: url(../../images/purple_back.png);
	background-size: cover;
	background-repeat: repeat;
	padding-left:1rem;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 60px;
	
}

figure .person,figure .place,figure .entity{
	font-family: 'Nimbus_Sans_Becker_Regular';
	background-image: none;
	font-size: 15px;
	padding-left: 0;
	
	
}

#box ul, ol {
	font-family: 'Fliped';
	
}

ul p{
	background-image: url(../../images/grunge_line.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	padding-bottom: 15px;
	font-family: 'Fliped';
	font-weight: bolder;
	direction: ltr!important;
	unicode-bidi: normal!important;

	

}

ol p{
	background-image: url(../../images/grunge_line.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	padding-bottom: 15px;
	font-family: 'Fliped';
	font-weight: bolder;
	direction: ltr!important;
	unicode-bidi: normal!important;
	

}


q{
	
	font-family: 'typenoksidi_regular';
	color: white;
	background-color: black;

}

blockquote{
	font-family: 'DISTROBV' ;
	font-size: 20px;
	color: rgb(142,127,146);
	transform: rotate(-3deg);
	 padding: 5px;
}


table {
	border-collapse: collapse;
	font-size: 12px;
	font-family: 'DISTROM';
  }
  
  table, th, td {
	border: 1px solid black;
  
  }
  
  img{
	width:90%;
	padding-left: 5%;
	padding-right: 5%;
	object-fit: contain; 
	filter:  sepia(40%);
  }

  #Cover figure{
	 float: left;
  }

  section:nth-child(odd) img{
	  filter: grayscale(100%) saturate(50%);
  }
  
  figure{
	  width: 90%;
	  margin: auto ;
	  padding-right: 10px;
	  height: 100%;
	  padding: 5%;
}


  figcaption{
	  
	font-family: 'Nimbus_Sans_Becker_Regular';
	position: relative;
	margin: auto;
	top: -120px;
	right: 6px;
	font-size: 16px;
	font-weight: bolder;
	letter-spacing: -1;
	line-height: 0.7;
	height: 0px;
}

figcaption q{
	font-family: 'Nimbus_Sans_Becker_Regular';
	color: black;
	text-transform: none;
	background-color: transparent;
}

.first_half {
	direction: rtl;
	unicode-bidi: bidi-override;
	text-align: right;
	
}


#cover p{
	direction: ltr!important;
	unicode-bidi: normal!important;
	text-align: justify;
}

.second_half{
	color:grey;
}
  
  

@media screen and (max-width: 600px){
	div#box{
	background-image: url(../../images/background_final.jpg);
	background-size: contain;
	background-repeat: repeat;
	column-count: 1;
	margin-bottom:40%;
	padding: 0;
	margin-top: 0;
	
	width: 100vw;
	}

	h1{
		font-size: 40px;
		margin-left:3%;
	}

	h1::first-letter{
		padding-left: 40px;
		background-color: rgb(142,127,146);
		border-radius: 10px;
	}

	p{
		margin: auto;
		width: 70%;
		margin-bottom: 20%;
		font-size: 140%;
		
	}

	table {
		width: 50%!important;
		margin:auto;
		font-size: 10px;
		margin-bottom:10%;
	  }
}
  
  
@media screen and (min-width: 768px) and (max-width: 768px){

	div#box{
		background-image: url(../../images/background_final.jpg);
		background-size: contain;
		background-repeat: repeat;
		column-count: 2;
		margin-bottom:25%;
		width: 75%;
		
		}
	
		h1{
			font-size: 40px;
			margin-left:3%;
		}
	
		h1::first-letter{
			padding-left: 40px;
			background-color: rgb(142,127,146);
			border-radius: 10px;
		}
	
		p{
			margin: auto;
			width: 100%;
			margin-bottom: 20%;
			font-size: 140%;
			
		}
	
		table {
			width: 50%!important;
			margin:auto;
			font-size: 10px;
			margin-bottom:10%;
		  }

		  .barcode{
			  right: 30%;
		  }
}


      




